{% extends "layout.html" %}

{% block title %}
    Sell Stock
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" id="symbol" name="symbol">
                <option value="">Select a stock</option>
                {% for stock in stocks %}
                    <option value="{{ stock.symbol }}">{{ stock.name }} ({{ stock.symbol }})</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" autocomplete="off" min="0" id="shares" name="shares" placeholder="Enter shares..." type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
